{% extends "base.html.twig" %}
{% block content %}

    <section class="module bg-dark-60 about-page-header" {% if content.background_image %}data-background="{{ content.background_image.url }}"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">{{ content.title }}</h2>
                    {% if content.subtitle %}
                        <div class="module-subtitle font-serif">{{ content.subtitle }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if content.content %}
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        {{ content.content|raw }}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if content.team_members %}
        <hr class="divider-w">
        <section class="module" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">{{ 'about.our_team'|trans }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="owl-carousel text-center" data-items="4" data-pagination="true" data-navigation="false">
                        {% for member in content.team_members %}
                            {% if member.type == 'member' %}
                                <div class="owl-item">
                                    <div class="col-sm-12 mb-sm-20">
                                        <div class="team-item">
                                            <div class="team-image">
                                                {% if member.photo %}
                                                    <img src="{{ member.photo.thumbnails['400x400'] ?? member.photo.url }}" alt="{{ member.name }}"/>
                                                {% endif %}
                                                <div class="team-detail">
                                                    <h5 class="font-alt">{{ member.name }}</h5>
                                                    {% if member.bio %}
                                                        <p class="font-serif">{{ member.bio }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="team-descr font-alt">
                                                <div class="team-name">{{ member.name }}</div>
                                                {% if member.position %}
                                                    <div class="team-role">{{ member.position }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if content.client_logos %}
        <section class="module-small bg-dark p-0">
            <div class="container">
                <div class="row client">
                    <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
                        {% for logo in content.client_logos %}
                            <div class="owl-item">
                                <div class="col-sm-12">
                                    <div class="client-logo">
                                        <img src="{{ logo.thumbnails['200x100'] ?? logo.url }}" alt="{{ logo.title }}"/>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if content.advantages %}
        <section class="module" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">{{ 'about.our_advantages'|trans }}</h2>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    {% for advantage in content.advantages %}
                        {% if advantage.type == 'advantage' %}
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="features-item">
                                    {% if advantage.icon %}
                                        <div class="features-icon"><span class="{{ advantage.icon }}"></span></div>
                                    {% endif %}
                                    <h3 class="features-title font-alt">{{ advantage.title }}</h3>
                                    <p>{{ advantage.description }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
