{% extends "base.html.twig" %}

{% block title %}{{ content.title }} - Part-ner{% endblock %}

{% block content %}

    <section class="home-section home-fade home-full-height" id="home">
        <div class="hero-slider">
            <ul class="slides">
                {% if content.hero_slides %}
                    {% for slide in content.hero_slides %}
                        {% if slide.type == 'slide' %}
                            <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('{{ slide.image.url }}');">
                                <div class="titan-caption">
                                    <div class="caption-content">
                                        {% if slide.title_line1 %}
                                            <div class="font-alt mb-30 titan-title-size-1">{{ slide.title_line1 }}</div>
                                        {% endif %}
                                        {% if slide.title_line2 %}
                                            <div class="font-alt mb-30 titan-title-size-4">{{ slide.title_line2 }}</div>
                                        {% endif %}
                                        {% if slide.title_line3 %}
                                            <div class="font-alt mb-40 titan-title-size-1">{{ slide.title_line3 }}</div>
                                        {% endif %}
                                        {% if slide.cta_text and slide.cta_link %}
                                            <sulu-link class="btn btn-border-w btn-round" href="{{ slide.cta_link }}">{{ slide.cta_text }}</sulu-link>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </section>

    <div class="main">
        {% if content.categories %}
            <section class="module-small">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">{{ 'homepage.categories_title'|trans }}</h2>
                        </div>
                    </div>
                    <div class="row multi-columns-row">
                        {% for category in content.categories %}
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="shop-item">
                                    <div class="shop-item-image">
                                        {% if category.category_image is defined and category.category_image %}
                                            <img src="{{ category.category_image.thumbnails['400x400'] }}" alt="{{ category.title }}"/>
                                        {% else %}
                                            <img src="{{ asset('assets/images/placeholder-category.jpg') }}" alt="{{ category.title }}"/>
                                        {% endif %}
                                        <div class="shop-item-detail">
                                            <a href="{{ sulu_content_path(category.id) }}" class="btn btn-round btn-b">{{ 'homepage.view_more'|trans }}</a>
                                        </div>
                                    </div>
                                    <h4 class="shop-item-title font-alt"><a href="{{ sulu_content_path(category.id) }}">{{ category.title }}</a></h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if content.video_enabled %}
            <section class="module module-video bg-dark-30" data-background="{% if content.video_fallback_image %}{{ content.video_fallback_image.url }}{% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt mb-0">{{ content.video_title }}</h2>
                        </div>
                    </div>
                </div>
                {% if content.video_youtube_url %}
                    <div class="video-player" data-property="{videoURL:'{{ content.video_youtube_url }}', containment:'.module-video', startAt:0, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
                {% endif %}
            </section>
        {% endif %}

        {% if content.featured_products %}
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">{{ 'homepage.featured_products_title'|trans }}</h2>
                            <div class="module-subtitle font-serif">{{ 'homepage.featured_products_subtitle'|trans }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
                            {% for product in content.featured_products %}
                                <div class="owl-item">
                                    <div class="col-sm-12">
                                        <div class="ex-product">
                                            <a href="{{ sulu_content_path(product.url) }}">
                                                {% if product.images is defined and product.images[0] %}
                                                    <img src="{{ product.images[0].thumbnails['400x400'] }}" alt="{{ product.title }}"/>
                                                {% else %}
                                                    <img src="https://placehold.co/400" alt="{{ product.title }}"/>
                                                {% endif %}
                                            </a>
                                            <h4 class="shop-item-title font-alt"><a href="{{ sulu_content_path(product.id) }}">{{ product.title }}</a></h4>
                                            {% if product.price is defined %}
                                                {{ product.price }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if content.news_posts %}
            <hr class="divider-w">
            <section class="module" id="news">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">{{ 'homepage.news_title'|trans }}</h2>
                        </div>
                    </div>
                    <div class="row multi-columns-row post-columns wo-border">
                        {% for news in content.news_posts %}
                            {% if news.type == 'news_item' %}
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="post mb-40">
                                        <div class="post-header font-alt">
                                            <h2 class="post-title"><a href="{% if news.link %}{{ sulu_content_path(news.link) }}{% else %}#{% endif %}">{{ news.title }}</a></h2>
                                        </div>
                                        <div class="post-entry">
                                            <p>{{ news.excerpt }}</p>
                                        </div>
                                        {% if news.link %}
                                            <div class="post-more"><a class="more-link" href="{{ sulu_content_path(news.link) }}">{{ 'homepage.read_more'|trans }}</a></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    </div>

{% endblock %}
